<div>
    {{#each randomBeer}}
    <img id="" src="{{this.image_url}}" alt="beer image">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    <p>{{this.food_pairing}}</p>
    {{/each}}
</div>